<div class="columns theme-selector">
	<div class="column">
		<div class="buttons has-addons">
			<button
				[ngClass]="{ 'is-active': (currentTheme | async) === themeEnum.LIGHT }"
				(click)="selectTheme('LIGHT')"
			>
				<i class="fa fa-sun-o" aria-hidden="true"></i>
			</button>
			<button
				[ngClass]="{ 'is-active': (currentTheme | async) === themeEnum.DARK }"
				(click)="selectTheme('DARK')"
			>
				<i class="fa fa-moon" aria-hidden="true"></i>
			</button>
			<button [ngClass]="{ 'is-active': (currentTheme | async) === themeEnum.RED }" (click)="selectTheme('RED')">
				<i class="fa fa-adjust" aria-hidden="true"></i>
			</button>
		</div>
	</div>
</div>
